/* styles.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
}

.logo img {
    width: 150px;
    margin-top: 15px;;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 50px 20px;
    
}

.hero-image img {
    max-width: 100%;
}

.hero-text {
    max-width: 40%;
    color: white;
}

.hero-text h1 {
    color: white;
    font-size: 2.5em;
    margin-bottom: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.container p{
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 10px;
}
  
  .wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
  }

  .card {
    width: 80px;
    border-radius: 0.75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0px 10px;
    display: flex;
    align-items: flex-end;
    transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
  }

  .card > .row {
    color: white;
    display: flex;
    flex-wrap: center;
    align-items: nowrap;
  }

  .card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }

  .card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 500px;
    width: 520px;
    opacity: 1;
    transform: translate(30px) transition-delay 0.3s;
    transition: all 0.3s ease;
  }

  .description p {
    color: #b0b0ba;
    padding-top: 5px;
  }

  .description h4 {
    text-transform: uppercase;
  }

  input {
    display: none;
  }

  input:checked + label {
    width: 600px;
  }

  input:checked + label.description {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }

  .card[for="c1"] {
    background-image: url(images/merc\(7-1\).jpg);
  }

  .card[for="c2"] {
    background-image: url(images/merc\(7-2\).jpg);
  }

  .card[for="c3"] {
      background-image: url(images/merc\(7-3\).jpg);
  }

  .card[for="c4"] {
    background-image: url(images/merc\(7-4\).jpg);
  }

  .card[for="c5"] {
    background-image: url(images/merc\(7-5\).jpg);
  }

  .card[for="c6"] {
      background-image: url(images/merc\(7-10\).jpg);
  }

.specifications {
    background-color: black;
    padding: 2px;
    color: white;
}

.specifications h2 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.styled-list {
    list-style: none; /* Remove bullets */
    padding: 0px; /* Remove default padding */
    margin: 60px; /* Remove default margin */
}

.styled-list li {
    display: flex; /* Use Flexbox for the list items */
    justify-content: space-between; /* Distribute space between property and value */
    padding: 10px 0; /* Add padding for spacing */
    border-bottom: 1px solid #ccc; /* Add horizontal line after each item */
}

.styled-list li:last-child {
    border-bottom: none; /* Remove the horizontal line from the last item */
}

.property {
    flex: 1; /* Property takes available space */
}

.value {
    flex: 1; /* Value takes available space */
    text-align: right; /* Align value to the right */
}

.price{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;

}
.price p{
    background-color: black;
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
    padding: 10px;
}
.buy{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-bottom: 20px;
}
.buy-btn{
    margin-left: 45%;
    margin-bottom: 40px;
    width: 90px;
    border-radius: 5px;
    height: 70px;
    border: none;
    background-color: rgba(63, 114, 76, 0.8);
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
    font-weight: bolder;
    cursor: pointer;
    
    transition: opacity 0.15s, background-color 0.15s, color 0.15s;

 }
 .buy-btn:active{
    background-color: black;
    color: white;
 }

 .form-flex{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .form-grid{
    margin-top: 100px;
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
 }

 .textbox{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    height: 40px;
    width: 300px;
 }

 .form-msg{
    grid-column: 1 / -1;;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    width: 500px;
    height: 300px;
 }

  .submit-btn{
    width: 300px;
    height: 50px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    background: white;
    cursor: pointer;
    border: none;
    transition: opacity 0.15s, background-color 0.15s, color 0.15s;
  }

  .submit-btn:hover{
    opacity: 0.7;
  }

  .submit-btn:active{
    background: black;
    color: white;
  }
  
                /* footer */
                footer a{
                    text-decoration: none;
                    transition: 0.5s;
                    color: #fff;
                }
                
                ul ,li{
                    list-style-type: none;
                }
                
                footer{
                    background-color: black;
                    color: white;
                    padding-top: 20px;
                    margin-top: 40px black;
                }
                
                .footer-info{
                    width: 90%;
                    margin: 0 auto;
                    display: flex;
                    padding: 50px 0;
                }
                
                .footer-info , .footer-width{
                    padding: 0 15px;
                }
                
                .footer-info h2{
                    margin-bottom: 20px;
                }
                
                .about , .contact{
                    width: 40%;
                }
                
                .links{
                    width: 20%;
                }
                
                .social-media{
                    margin-top: 30px;
                }
                
                .social-media ul{
                    display: flex;
                }
                
                .social-media ul li a{
                    display: inline-block;
                    margin-right: 20px;
                    width: 50px;
                    height: 50px;
                    padding-top: 12px;
                    background-color: transparent;
                    text-align: center;
                }
                
                .social-media ul li a:hover{
                    opacity: 0.7;
                }
                
                .links ul li a{
                    display: block;
                    margin-bottom: 15px;
                    font-size: 18px;
                }
                
                .links ul li a:hover{
                    opacity: 0.7;
                
                }
                
                .contact ul li{
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                }
                
                .contact ul li span{
                    margin-right: 15px;
                }
                
                .copyright{
                    padding: 15px 0;
                    margin: 0%;
                    text-align: center;
                    font-size: 15px;
                    background-color: black;
                }
                
                @media screen and (max-width:767px) {
                    .about , .contact , .links{
                        width: 100%;
                        margin-bottom: 30px;
                
                    }
                    .footer-info{
                        flex-direction: column;
                    }
                    
                }

